@use "../variables";

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid transparent;
    text-align: center;
    white-space: nowrap;

    &:hover {
        background-color: variables.$DeepPink;
        color: variables.$textColor;
        border: 2px solid variables.$slateBlue;
    }

    &--primary {
        color: variables.$textColor;
        background-color: variables.$slateBlue;
    }

    @media (max-width:640px){
        display: block;
        width: 100%;
    }

    @media (max-width:1024px){
        display: flex;
        align-items: center;
    }
}